*
{
    padding:0;
    margin:0;
}

.container
{
    height:100vh;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    background-color: gray;
    border-top:6px solid orange;
    
}

.head
{
    height:40vh;
    width:100%;
    background-color: greenyellow;
}

.text-container
{
    height:30vh;
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.bigtext
{
    font-size: 3vh;
}

.logo
{
    margin-left:2.5vh;
    padding-top:2vh;
    
}

.title
{
    display: inline;
    font-size:1.7vh;
    position: relative;
    left:3px;
    bottom:5px;
}